<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.QuestionTypeMapper">

	<insert id="insertQuestionType" parameterType="String">
		INSERT INTO
		questiontype(TypeName) VALUES(#{TypeName})
	</insert>

	<delete id="deleteQuestionType" parameterType="String">
		DELETE FROM questiontype
		WHERE TypeName=#{TypeName}
	</delete>

	<update id="updateQuestionType" parameterType="QuestionType">
		UPDATE questiontype SET
		TypeName=#{TypeName} WHERE ID=#{ID};
	</update>

	<select id="selectQuestionType" resultType="QuestionType">
		SELECT * FROM questiontype
	</select>

</mapper>